.modstyle {
    z-index: 3;
    position: absolute;
    margin-left: 40%;
    background: #5ac18e; /* fallback for old browsers */
    background: linear-gradient(to bottom, #000000, #707472);
    opacity: 0.8;
  }

  .form-group{
      color: #5ac18e;
  }

  .align-self-start{
      color: #5ac18e;
  }

  .row-header{
    margin:0px auto;
    padding:0px auto;
}

.row-content {
    margin:0px auto;
    padding: 50px 0px 50px 0px;
    border-bottom: 1px ridge;
    min-height:400px;
}

.navbar-dark {
    background-color: #77c763;
}
